/* Eric A. Meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* reset */
body {
    font-size: 15px;
    color:#494949;
    font-family:'Malgun Gothic';
    overflow:hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:inherit
}

button {
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
}
img {
    vertical-align: middle;
}
/* common */
body, html {
    overflow-x: hidden;
    width: 100%;

}
.wrap {
    width: min(1240px, 100vw);
    margin: 0 auto;
    position: relative;
}
.blind {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
ul:after, .wrap:after, section:after {
    content: '';
    clear:both;
    display: block;
}
.modal.on{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
}
.m_modal.on{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 115;
}

/* header & footer */
header {
    text-align: center;
    font-size: 12px;
    position: relative;
    z-index: 110;
}
header .wrap {
    width: min(1240px, 100%);
}
header .fnb {
    background: #02346b;
    color: #fff;
    height: 48px;
}

header .fnb ul.family {
    float: left;
    line-height: 48px;
}

header .fnb ul.family li {
    float: left;
    padding-right: 40px;
    position: relative;
}

header .fnb ul.family li:after {
    font-size: 10px;
    position: absolute;
    right: 20px;
    content: '|';
    color: #eee;
}
header .fnb ul.family li:last-child{
    margin-left: 50px;
    padding-left: 4px;
}

header .fnb ul.family li:last-child:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    content: '';
    margin: 0;
    width: 50px;
    height: 48px;
    background: url(../images/flag_learn.jpg)no-repeat center;
    margin-right: 3px;
}

header .fnb .side {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    height: 48px;
    line-height: 48px;

}
header .fnb .side:after {
    content:"";
    clear: both;
    display: block;
}
header .fnb .side p {
    padding: 0 22px 0 10px;
    float: left;
    position: relative;
    margin-right: 20px;
}
header .fnb .side p:before {
    content: '';
    margin: 0;
    width: 21px;
    height: 48px;
    background: url(../images/lang_ico.png)no-repeat center;
    display: block;
    float: left;
    margin-right: 3px;
}
header .fnb .side p:after {/* 더보기 삼각형 */
    position: absolute;
    right: 6px;
    top: calc(50% - 2px);
    content:"";
    border-bottom: 5px solid transparent; /* 사이즈는 중점과의 거리 */
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

}

header .fnb .side p span {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
    left: 50%;
    transform:translateX(-50%);
}
header .fnb .side p.on span {
    display: block;
}
header .fnb .side p span a {
    background: #03346c;
    display: block;
    line-height: 40px;
    border-bottom: 1px dashed #4e627d;

}
header .fnb .side p span a:hover {
    background: #072348;
}
header .fnb .side > a {
    padding: 0 20px;
    display: block;
    float: left;
    margin-left: 32px;
    position: relative;
}
header .fnb .side > a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    height: 48px;
    background:url(../images/toplink_img01.png)no-repeat center;
}
header .fnb .side button{
    position: relative;
    height: 48px;
    padding-left: 20px;
    background: #01234b;
    display: block;
    float: left;
    z-index: 2;
}
header .fnb .side button:after {
    content: '';
    position: absolute;
    top: 0;
    right: -100vw;
    height: 48px;
    width: 100vw;
    background: #01234b;
}

header .gnb {
    line-height: 90px;
    position: absolute;
    width: 100%;
    background: #fff;
}
header .gnb h1 {
    float: left;
}
header .gnb h1:after {
    content: '';
    width: 200vw;
    height: 1px;
    background: #eee;
    position: absolute;
    bottom: 0;
    left: -100vw;
}

header .gnb ul.gnb_title {
    float: left;
    padding-left: 24%;
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 600;
}
header .gnb ul.gnb_title li {
    float: left;
    padding: 0 20px;
    position: relative;
}
header .gnb ul.gnb_title li a {
    position: relative;
    display: block;
    height: 100%;
}
header .gnb ul.gnb_title li:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2px;
    width: 4px;
    height: 4px;
    background: #d5d5d5;
}
header .gnb ul.gnb_title li:last-child:after{
    display: none;
}
header .gnb ul.gnb_title li:hover a:before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: calc(50% - 6px);
    border-bottom: 6px solid #02346b;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
header .gnb ul.gnb_title li:before {
    transition: 0.3s;
    opacity: 10%;
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 50%;
    background: #02346b;
}
header .gnb ul.gnb_title li.on:before {
    opacity: 100%;
    width: 100%;
    left: 0;
}

header .gnb .head_icon {
    float: right;
    height: 90px;
}
header .gnb .head_icon > button {
    width: 90px;
    height: 100%;
    float: left;
    border-left: 1px solid #ddd;
    position: relative;
}
header .gnb .head_icon button.on {
    background: #0056b3;
}
header .gnb .head_icon button.on i {
    display: none;
}
header .gnb .head_icon button.on img {
    display: none;
}
header .gnb .head_icon button.on:after {
    content: '';
    width: 40px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    transform: rotate(45deg);
}
header .gnb .head_icon button.on:before {
    content: '';
    width: 40px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    transform: rotate(-45deg);
}
header .gnb .head_icon button i {

}
header .gnb .head_icon button img {
    margin-left: 4px;
}
header .gnb .head_icon > a {
    display: block;
    float: right;
    width: 64px;
    height: 100%;
    background: url(../images/menu.png)no-repeat center;
    border: solid #ddd;
    border-width: 0 1px;
}
header .gnb .head_icon button > span {
    display: none;
}
header .gnb .head_icon button.on > span {
    z-index: 100;
    background: #fff;
    display: block;
    position: absolute;
    right: 5px;
    bottom: -5px;
    transform: translateY(100%);
    outline: 5px solid #0056b3;
}
header .gnb .head_icon button > span > label {
    background: #555b69;
    color:#fff;
    width: 60px;
    line-height: 45px;
    position: absolute;
    top: 30px;
    right: 30px;
}
header .gnb .head_icon button > span > input {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    height: 45px;
    width: 455px;
    margin: 30px;
    padding: 12px 10px;

}
header .gnb .head_icon button > span > input::placeholder{
    color: #757575;
    font-size: 14px;
}
header .gnb #detail {
    width: 100%;
    background: #fff;
    top: 90px;
    overflow: hidden;
    height: 0;

    z-index: 100;
}
header .gnb #detail .wrap > div {
    margin-bottom: 50px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 120px bottom;
    display: none;
}
header .gnb #detail .wrap > div.on {
    display: block;
}
header .gnb #detail .wrap > div:after {
    content: "";
    clear: both;
    display: block;
}
header .gnb #detail .wrap > div .title {
    padding: 8px;
    float: left;
    width: 25%;
    padding-top: 8px;
    height: 100%;
}
header .gnb #detail .wrap > div:nth-child(1) {
    background-image: url(../images/head_title_1.png);

}
header .gnb #detail .wrap > div:nth-child(2) {
    background-image: url(../images/head_title_2.png);
}
header .gnb #detail .wrap > div:nth-child(3) {
    background-image: url(../images/head_title_3.png);
}
header .gnb #detail .wrap > div:nth-child(4) {
    background-image: url(../images/head_title_4.png);
}
header .gnb #detail .wrap > div:nth-child(5) {
    background-image: url(../images/head_title_5.png);
}
header .gnb #detail .wrap > div:nth-child(6) {
    background-image: url(../images/head_title_6.png);
}
header .gnb #detail > div .title h3 {
    line-height: 74px;
    font-size: 23px;
    font-weight: 800;
    position: relative;
}
header .gnb #detail > div .title h3:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #000;
    bottom: 0;
    left: 0;
}
header .gnb #detail > div .title p {
    line-height: 60px;
    color: #666;
    font-size: 13px;

}

header .gnb #detail > div .category {
    color: #353533;
    line-height: 24px;
    width: 75%;
    float: right;
    padding-top: 24px;
}
header .gnb #detail > div .category:after {
    content: '';
    clear: both;
    display: block;
}
header .gnb #detail > div .category ul {
    float: left;
    width: 25%;
    padding-right: 24px;
}
header .gnb #detail > div .category ul:last-child{
    padding-right: 0;
}
header .gnb #detail > div .category ul li:first-child {
    margin-bottom: 40px;
}
header .gnb #detail .com .category ul li {
    min-height: 340px;
}
header .gnb #detail .news .category ul li {
    min-height: 200px;
}
header .gnb #detail .info .category ul li {
    min-height: 255px;
}
header .gnb #detail .int .category ul li {
    min-height: 255px;
}
header .gnb #detail > div .category > a {
    float: left;
    width: 25%;
}
header .gnb #detail > div .category ul li > a {
    display: block;
    padding:0 16px;
    position: relative;
}
header .gnb #detail > div .category ul li > a:after{
    content: '';
    width: 2px;
    height: 2px;
    background: #afafb0;
    position: absolute;
    top: calc(50% - 1px);
    left: 10px;
}
header .gnb #detail > div .category ul li > a:first-child {
    display: block;
    line-height: 52px;
    border: 1px solid #ddd;
    color: #555;
    padding:0 12px;
    margin-bottom: 8px;

}
header .gnb #detail > div .category ul li > a:first-child:after{
    width: 4px;
    height: 4px;
    top: calc( 50% - 6px );
    left: auto; /* left 초기화*/
    right: 14px;
    background: transparent;
    border-bottom: 1px solid #818181;
    border-top: 1px solid transparent;
    border-left: 1px solid #818181;
    border-right: 1px solid transparent;
    transform: rotate(-45deg);
}
/* 디테일 메뉴 호버*/
header .gnb #detail > div .category ul li:hover a:first-child{
    border: 1px solid #02346b;
    outline: 1px solid #02346b;
    color: #02346b;
    text-decoration: none;
}
header .gnb #detail > div .category ul li a:hover span {
    position: relative;
}
header .gnb #detail > div .category ul li a:hover span:before{
    content: "";
    position: absolute;
    background: #02346b;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
}
header .gnb #detail > div .category ul li > a:hover:after {
    background: #02346b;
}
header .gnb #detail > div .category ul li > a:first-child:hover:after {
    background: transparent;
}
header .gnb #detail .part .category > a {
    line-height: 57px;
    border-right: 1px dashed #ddd;
    padding: 0 20px;
    margin-bottom: 20px;

}
header .gnb #detail .part .category > a:nth-child(4n) {
    border:none;
}
header .gnb #detail .part .category a span {
    content:"";
    width: 57px;
    height: 57px;
    border: 1px solid #ddd;
    border-radius: 100px;
    margin-right: 10px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
/*    background-image:url(../images/h1.png)*/
}
header .gnb #detail .part .category a:hover{
    color: #04366c;
}
header .gnb #detail .part .category a:hover span{
    border: 1px solid #04366c;
}

header .gnb #detail .district .category a {
    width: calc(20% - 15px);
    outline: 1px solid #ddd;
    line-height: 50px;
    padding: 0 12px;
    margin-right: 15px;
    position: relative;
    margin-bottom: 20px;
}
header .gnb #detail .district .category a:after {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: calc( 50% - 6px );
    right: 14px;
    background: transparent;
    border-bottom: 1px solid #818181;
    border-top: 1px solid transparent;
    border-left: 1px solid #818181;
    border-right: 1px solid transparent;
    transform: rotate(-45deg);
}
header .gnb #detail .district .category a:hover {
    outline: 1px solid #04366c;
}

#snb {
    display: none;
}

/* footer */
footer {
    background: #3d4049;
    color: #fff;
    padding: 35px 0;
}
footer .wrap > span {
    position: absolute;
    right: 0;
    bottom: 0;
}
footer .wrap > span img {
    margin-left: 10px;
}
footer ul li {
    float: left;
    line-height: 24px;
    padding: 0 16px;
    position: relative;
}
footer ul li:first-child {
    padding-left: 0;
}
footer ul li:last-child {
    padding-right: 0;
}
footer ul li:after {
    content: '|';
    color: #5d5f67;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
footer ul li:last-child:after {
    display: none;
}

footer address {
    color: #9d9ea1;
    margin-top: 20px;
    font-size: 14px;
}
footer p {
    color: #9d9ea1;
    margin-top: 5px;
    font-size: 14px;
}
/* 모바일 메뉴 */
#m_menu {
    background: #494949;
    position: absolute;
    z-index: 120;
    width: 300px;
    height: 100%;
    top: 0;
    left: -300px;
    overflow: auto;
/*    transition:0.5s;*/
}
/* right 사용시 pc브라우저에 안보여도 실제 모바일에서는 움직이는 이슈 발생
#m_menu.on {
    right: 0;
}
*/
#m_menu .menu_top {
    padding: 10px 0;
    background: #fff;
}
#m_menu .menu_top li {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    position: relative;

}
#m_menu .menu_top li:after {
    content: '|';
    font-size: 10px;
    color: #d3d3d3;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}
#m_menu .menu_top li:last-child:after {
    display: none;
}

#m_menu .menu_lang {
    text-align: center;
    font-weight: 100;
    line-height: 45px;
    background: #333;
    color: #fff;
    position: relative;
}
#m_menu .menu_lang p em{
    position: relative;
}
#m_menu .menu_lang p em:after{
    content:"";
    position: absolute;
    right: -16px;
    top: 50%;
    border-top: 5px solid #969799;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
#m_menu .menu_lang ul {
    position: absolute;
    display: none;
    bottom: 0;
    transform: translateY(100%);
    left: 0;
    width: 100%;
    background: #333;
    z-index: 10;
    border-top: 1px dashed #666;
}
#m_menu .menu_lang.on ul {
    display: block;
}
#m_menu .menu_lang.on p em:after{
    transform: rotate(180deg);
}
#m_menu .menu_lang li {
    border-bottom: 1px dashed #666;
}
#m_menu .menu_lang li:last-child {
    border:none;
}
#m_menu .menu_list {
    font-size: 16px;
}

#m_menu .menu_list h3 {
    line-height: 52px;
    background: #494949;
    color: #fff;
    border-bottom:1px solid #666;
    padding: 0 13px;
    position: relative;
}
#m_menu .menu_list h3:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border:1px solid #fff;
    transform: rotate(45deg) translateY(200%);
    border-width: 1px 1px 0 0;
}
#m_menu .menu_list h3.blue:after {
    transform: rotate(135deg) translateY(0) translateX(200%);
}
#m_menu .menu_list h3.blue {
    background: #1c3e89;

}
#m_menu .menu_list .category ul {
    display: none;
}
#m_menu .menu_list .category:first-child ul {
    display: block;
}
#m_menu .menu_list li > a {
    background: #fff;
    display: block;
    border-bottom:1px solid #666;
    line-height: 52px;
    height: 52px;
    padding: 0 13px;
    position: relative;
}
#m_menu .menu_list li > a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateX(9px);
    height: 1px;
    width: 20px;
    background: #999;
}
#m_menu .menu_list li > a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-9px);
    height: 20px;
    width: 1px;
    background: #999;
}
#m_menu .menu_list p {
    background: #fff;
    border-bottom:1px solid #666;
    line-height: 52px;
    height: 52px;
    padding: 0 13px;
    position: relative;
}
#m_menu .menu_list p:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateX(9px);
    height: 1px;
    width: 20px;
    background: #999;
}
#m_menu .menu_list p:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-9px);
    height: 20px;
    width: 1px;
    background: #999;
}
#m_menu .menu_list li p.on:before {
    display: none;
}
#m_menu .menu_list .category div {
    background: #eceeef;
    padding: 20px 0;
    display: none;
}
#m_menu .menu_list div > a {
    font-size: 15px;
    color:#000;
    display: block;
    position: relative;
    line-height: 25px;
    padding-left: 45px;
}
#m_menu .menu_list div > a:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    left: 37px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #9e9f9f;
}

.blank { background: #ff0; height: 90px;}


#title {
    padding-top: 20px;

}

#title .tomorrow {
    opacity: 0.7;
    float: left;
    height:150px;
}
#title .wrap > p {
    background: url(../images/main_title.png)no-repeat center center;
    background-origin: content-box;
    height: 71px;
    box-sizing: content-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0;
}
#title .wrap > p span {
      overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
#title ul {
    padding-top: 30px;
    float: right;
}
#title ul li {
    float: left;
    background-size: 68px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 68px;

}
#title ul li:nth-child(1) {
    background-image: url(../images/f_qr.jpg)
}
#title ul li:nth-child(2) {
    background-image: url(../images/f_qr.jpg)
}
#title ul li:nth-child(2) p:before {
    background-position: -24px 0;
}
#title ul li:nth-child(3) {
    background-image: url(../images/y_qr.jpg)
}
#title ul li:nth-child(3) p:before {
    background-position: -48px 0;
}
#title ul li:nth-child(4) {
    background-image: url(../images/f_qr.jpg);
    margin-right: 0;
}
#title ul li:nth-child(4) p:before {
    background-position: -72px 0;
}

#title ul li p {
    font-size: 10px;
    box-sizing: content-box;
    line-height: 24px;
    padding-bottom: 68px;
    padding-left: 24px;
    position: relative;
    white-space: nowrap;
}
#title ul li p:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #fff url(../images/sns_ir.png)no-repeat
}
#visual{
    margin-top: 20px;
}

#visual .v_map {
    float: left;
    background: #3c4968;
    color: #fff;
    width: calc(25% - 10px);
    margin-right: 10px;
    height: 380px;
    border-radius: 10px;
    padding: 50px 0;
}
#visual .v_map ul li {
    float: left;
    width: calc(100% / 3);
    height: 93px;
    padding-top: 65px;
    text-align: center;
    position: relative;
    font-size: 14px;
}
#visual .v_map ul li span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 65px;
    border-radius: 33px;
    background: #313c55;
}
#visual .v_map ul li span i {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    background-image: url(../images/icon_ir.png);
    background-repeat: no-repeat;
}

#visual .v_map ul li.or1 span i { background-position: calc(65px * -8); }
#visual .v_map ul li.or2 span i { background-position: calc(65px * -3); }
#visual .v_map ul li.or3 span i { background-position: calc(65px * -2); }
#visual .v_map ul li.or4 span i { background-position: calc(65px * -6); }
#visual .v_map ul li.or5 span i { background-position: calc(65px * -0); }
#visual .v_map ul li.or6 span i { background-position: calc(65px * -6); }
#visual .v_map ul li.or7 span i { background-position: calc(65px * -4); }
#visual .v_map ul li.or8 span i { background-position: calc(65px * -1); }
#visual .v_map ul li.or9 span i { background-position: calc(65px * -5); }


#visual .main_slide {
    float: left;
    width: 620px;
    height: 380px;
    position: relative;
}
#visual .main_slide ul {
    height: 100%;
    position: relative;
}
#visual .main_slide ul li {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#visual .main_slide ul li.or1 { background-image: url(../images/mainslide_1.jpg);}
#visual .main_slide ul li.or2 { background-image: url(../images/mainslide_2.jpg);}
#visual .main_slide ul li.or3 { background-image: url(../images/mainslide_3.jpg);}
#visual .main_slide ul li.or4 { background-image: url(../images/mainslide_4.jpg);}
#visual .main_slide ul li.or5 { background-image: url(../images/mainslide_5.jpg);}
#visual .main_slide ul li.or6 { background-image: url(../images/mainslide_6.jpg);}

#visual .main_slide ul li:nth-child(1) { z-index:6; }
#visual .main_slide ul li:nth-child(2) { z-index:5; }
#visual .main_slide ul li:nth-child(3) { z-index:4; }
#visual .main_slide ul li:nth-child(4) { z-index:3; }
#visual .main_slide ul li:nth-child(5) { z-index:2; }
#visual .main_slide ul li:nth-child(6) { z-index:1; }

#visual .staff {
    float: left;
    background: #ffe;
    width: 310px;
    height: 380px;
}
.main_slide > div {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
}
.main_slide > div > span {
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    margin-right: 4px;
    background: rgba(0,0,0,0.6);
    color:#fff;
    transition: 0.5s;

}
.main_slide > div > span:hover{
    background: #000;
}
.main_slide > div > span.play {
    display: none;
}
.main_slide > div > span.stop {
    display: none;
}
.main_slide > div > span.on {
    display: block;
}
.main_slide > div > span:after {
content: '';
position: absolute;
top: 50%;
left: 50%;
}
.main_slide > div > span.next:after,
.main_slide > div > span.prev:after {
top: 0;
width: 12px;
height: 12px;
border:solid #fff;
border-width: 2px 2px 0 0;
}
.main_slide > div > span.prev:after {
transform: rotate(-135deg) translateX(-210%);
left: 4px;
}
.main_slide > div > span.next:after {
transform: rotate(45deg) translateX(210%);
left: -4px;
}
.main_slide > div > span.stop:after {
    width: 4px;
    height: 16px;
    border: solid #fff;
    border-width: 0 2px;
    transform: translateY(-50%) translateX(-50%);
}
.main_slide > div > span.play:after {
    border-bottom: 9px solid transparent; /* 사이즈는 중점과의 거리 */
    border-top: 9px solid transparent;
    border-left: 13px solid #fff;
    border-right: 13px solid transparent;
    transform: translateY(-50%) translateX(-25%);
}
.main_slide > div > span.list_no {
    width: 83px;
    font-weight: 600;
}

#visual .staff {
    width: calc(25% - 10px);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
    background: url(../images/mayor_img4.png)no-repeat center/cover;
}
#visual .staff .pre {
    position: relative;
    height: 274px;
    padding: 30px 25px 0;

}
#visual .staff .pre:before{
    content:"열린군수실";
    position: absolute;
    background: url(../images/mayor_img3.png)no-repeat center top;
    background-origin: border-box;
    top: 0;
    right: 30px;
    width: 86px;
    height: 39px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 13px;
}
#visual .staff .pre:after{
    content: '';
    position: absolute;
    width: 120px;
    height: 160px;
    bottom: 0;
    right: 0;
    background: url(../images/mayor_img5_20220701.png)no-repeat center bottom;
    background-size: 140px;
}
#visual .staff .pre p {
    height: 50px;
    background: url(../images/mayor_img6_20220701.png)no-repeat left bottom;
    background-size:contain;
}
#visual .staff .pre p em {
    display: none;
}
#visual .staff .pre ul {
    margin-top: 25px;
}
#visual .staff .pre ul li {
    font-size: 12px;
    background: #fff;
    width: 95px;
    line-height: 25px;
    text-align: center;
    border-radius: 13px;
    margin-bottom: 5px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
    font-size: 13px;
    color: #343434;
    transition:0.6s;
}
#visual .staff .pre ul li:hover {
    color: #fff;
    background: #c3293a;
}

#visual .staff > ul {
    padding: 30px 25px 0;
    height: 106px;
    background: #c3293a;
    color: #fff;
    padding: 20px;
}
#visual .staff > ul li {
    float: left;
    width: calc(100% / 3) ;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-right: 1px solid #cf5461;
}
#visual .staff > ul li:last-child {
    border:none;
}
#visual .staff > ul li a {
}
#visual .staff > ul li a i {
    left: calc(50% - 17px);
    top: 0;
    width: 34px;
    height: 39px;
    position: absolute;
    background: url(../images/mayor_img2.png)no-repeat left;
}
#visual .staff > ul li:nth-child(2) a i {
    background-position: -34px 0;
}
#visual .staff > ul li:nth-child(3) a i {
    background-position: -68px 0;
}
/* section-2 */
#board {
    margin: 60px 0;
}
#board h2 {
    padding-bottom: 20px;
    text-align: center;
}

#board .wrap > div {
    background: #fff;
    border-radius: 10px;
    height: 425px;
}
#board article:hover h4, #board article:hover p {
    cursor: pointer;
    text-decoration: underline;
}
#board .b_info {
    width: calc(100% - 620px);
    float: left;
    position: relative;
    padding: 20px 35px;
}
#board .b_info > ul {
    border-bottom: 1px solid #ddd;
    padding-right: 44px;
}
#board .b_info > ul li {
    float: left;
    width: 90px;
    line-height: 45px;
    text-align: center;
    position: relative;

}
#board .b_info > ul li.on {
    border-bottom: 4px solid #395fb6;
}

#board .b_info > ul li button{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;

}
#board .b_info > ul li button:focus {
    outline: 2px solid #000;
}

#board .b_info > ul li.on:after {
    content: "";
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -13px;
    content:"";
    border-bottom: 5px solid transparent; /* 사이즈는 중점과의 거리 */
    border-top: 5px solid #395fb6;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
#board .b_info > a {
    position: absolute;
    top: 20px;
    right: 35px;
    line-height: 44px;
    text-align: center;
    width: 44px;
    height: 44px;
    font-size: 0;
}
#board .b_info > a:hover {
    outline:1px dotted #ddd;
}
#board .b_info > a:hover i {
    transition:3s;
    transform: rotate(720deg);
}
#board .b_info > a i {
    display: block;
    height: 100%;
}
#board .b_info > a i:before {
    content: '';
    position: absolute;
    top: calc(25% + 1px);
    left: 50%;
    height: 50%;
    width: 1px;
    background: #000;
}
#board .b_info > a i:after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(25% + 1px);
    height: 1px;
    width: 50%;
    background: #000;
}

#board .b_info article {
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
    position: relative;
    padding-left: 95px;
}
#board .b_info article > span {
    border: 1px solid #e8e8e8;
    position: absolute;
    top: calc(50% - 37px);
    left: 0;
    height: 75px;
    width: 75px;
    text-align: center;
}
#board .b_info article > span > b {
    font-weight: 700;
    font-size: 36px;
    display: block;
    padding-top: 7px;
    padding-bottom: 6px;
}
#board .b_info article h4 {
    padding-top: 15px;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 28px;
}
#board .b_info div {
    display: none;
}
#board .b_info div.on {
    display: block;
}
#board .b_info em {
    background-color: #f00;
    display: inline-block;
    font-size: 10px;
    width: 19px;
    text-align: center;
    height: 19px;
    line-height: 19px;
    border-radius: 10px;
    color:#fff;
    margin-left: 4px;
    vertical-align: middle;
    position: relative;
    top:-3px;

}
#board .b_info article p {
    line-height: 24px;
    font-size: 16px;
}

#board .b_info table {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    color: #494949;

}
#board .b_info table td:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    margin: 6px 20px 6px 0px;
    padding-top: 3px;
    padding-left: 10px;
    padding: 3px 0px 1px 10px;
    position: relative;
}
#board .b_info table td:first-child:hover {
    cursor: pointer;
    text-decoration: underline;
}
#board .b_info table td:first-child:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}
#board .b_info table td:nth-child(2) {
    width: 75px;
}

/* 팝업존 슬라이드*/
#board .wrap > .b_notice {
    width: 300px;
    height: auto;
    background-color: transparent;
    float: left;
    margin-left: 10px;
}
#board .b_notice .notice_slide {
    height: 280px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    position: relative;
}
#board .b_notice .notice_slide h3 {
    line-height: 26px;
    font-size: 16px;
    color: #282828;
    font-weight: 700;
}
#board .b_notice .notice_slide .btn .slide_no{
    position: relative;
    top: -3px;
}
#board .b_notice .notice_slide .btn .slide_no b {
    background: #000;
    color: #fff;
    width: 24px;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    margin-right: 4px;
    float: left;
    margin-top: 3px;
}

#board .b_notice .notice_slide .btn {
    position: absolute;
    top: 20px;
    right: 25px;
    line-height: 26px;
}
#board .b_notice .notice_slide .btn .play, #board .b_notice .notice_slide .btn .stop {
    display: none;
}
#board .b_notice .notice_slide .btn .on {
    display: inline;
}
#board .b_notice .notice_slide .btn i {
    cursor: pointer;
    font-size: 18px;
    height: 22px;
    line-height: 20px;
    width: 22px;
    text-align: center;
    background: #fff;
    border:1px solid #ddd;
    color: #000;
    border-radius: 22px;
    margin-top: 2px;
}
#board .b_notice .notice_slide .btn .play i {
    padding-left: 2px;
}
#board .b_notice .notice_slide ul{
    position: relative;
    height: 201px;
    margin-top: 8px;
}
#board .b_notice .notice_slide ul li {
    position: absolute;
    border: 1px solid #eee;
    width: 100%;
    top: 0;
}
#board .b_notice .notice_slide ul li a{
    display: block;
    height: 201px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 250px;
}

#board .b_notice ul li:nth-child(1) {z-index:12}
#board .b_notice ul li:nth-child(2) {z-index:11}
#board .b_notice ul li:nth-child(3) {z-index:10}
#board .b_notice ul li:nth-child(4) {z-index:9}
#board .b_notice ul li:nth-child(5) {z-index:8}
#board .b_notice ul li:nth-child(6) {z-index:7}
#board .b_notice ul li:nth-child(7) {z-index:6}
#board .b_notice ul li:nth-child(8) {z-index:5}
#board .b_notice ul li:nth-child(9) {z-index:4}
#board .b_notice ul li:nth-child(10) {z-index:3}
#board .b_notice ul li:nth-child(11) {z-index:2}
#board .b_notice ul li:nth-child(12) {z-index:1}

#board .b_notice .notice_app:after {
    content: "";
    clear: both;
    display: block;
}
#board .b_notice .notice_app > a span {
    float: left;
    width: 145px;
    height: 135px;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
    color:#fff;
}
#board .b_notice .notice_app > a {
    display: block;
    float: left;
    height: 100%;
}
#board .b_notice .notice_app > a:after{
    content: "";
    display: block;
    clear: both;

}
#board .b_notice .notice_app .notice_com {
    background: #047c90 url(../images/no2.png)no-repeat right bottom;
    background-origin: content-box;
    margin-right: 10px;
}
#board .b_notice .notice_app .notice_int {
    background: #1776c4 url(../images/no4.png)no-repeat right bottom;
    background-origin: content-box;
}

#board .b_news {
    width: 300px;
    padding: 20px;
    float: left;
    margin-left: 10px;
}
#board .b_news a:hover {
    cursor: pointer;
    text-decoration: underline;
}
#board .b_news h3 {
    font-size: 17px;
    line-height: 28px;
    color: #282828;
    margin-bottom: 15px;
    position: relative;
}

#board .b_news h3 a {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}
#board .b_news h3 a:hover {
    border:1px dotted #ddd;
}
#board .b_news h3 a i {
    display: block;
    height: 100%;
}
#board .b_news h3 a i:hover {
    transition:3s;
    transform: rotate(720deg);
}
#board .b_news h3 a i:before {
    content: '';
    position: absolute;
    top: 0;
    right:50%;
    height: 100%;
    width: 1px;
    background: #000;
}
#board .b_news h3 a i:after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 1px;
    width: 100%;
    background: #000;
}
#board .b_news h4 {
    line-height: 24px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#board .b_news p {
    margin: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    height: 88px;
}
#board .b_news div {
    height: 158px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 퀵 메뉴 */
#qm h3 {
    float: left;
}
#qm .qm_slide:after {
    content: '';
    clear: both;
    display: block;
}
#qm .qm_slide{
    float: left;
    width: calc(100% - 209px);
    position: relative;
}
#qm .qm_slide button {
    cursor: pointer;
    padding: 6px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
#qm .qm_slide button:focus {
    outline: 2px solid #000;
}
#qm .qm_slide button.next {
    right: 2px;
}
#qm .qm_slide button.back {
    left: 2px;
}
#qm .qm_slide button i {
    font-size: 24px;
}

#qm .qm_slide ul {
    float: left;
    width: 100%;
    color:#3e3e3e;
    font-size: 14px;
    position: relative;
    top: 0;
    left: 0;
}
#qm .qm_slide ul li {
    cursor: pointer;
    float: left;
    width: calc(100% / 7);
    text-align: center;
    position: relative;
    padding-top: 70px;
}
#qm .qm_slide ul li i {
    position: absolute;
    background: #fff;
    border-radius: 30px;
    top: 0;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background-image: url(../images/icon_qm.png)
}

#fi {
    margin-top: 60px;
}
#fi .wrap {
    width: min(1480px, 100vw);
}
#fi .fi_title {
    position: relative;
    text-align: center;
}
#fi .fi_title .btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
#fi .fi_title .btn button {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    background-color: rgba(60,69,96,.5);
    background-image: url(../images/btn_fi.png);
    background-repeat: no-repeat;
    display: none;
}
#fi .fi_title .btn button.on {
    display: inline;
}
#fi .fi_menu {
    background: #3b62bb;
    padding: 0;
    margin-top: 23px;
    border-radius: 10px;
    position: relative;
}
#fi .fi_menu ul.main {
    color: #fff;
    text-align: center;
    position: relative;
    padding: 15px 0 0 240px;
    font-size: 16px;
}
#fi .fi_menu ul.main li {
    border-radius: 10px;
    float: left;
    position: relative;

}
#fi .fi_menu ul.main li.on {
    background: #1b3f91;
}
#fi .fi_menu ul.main li.off:after, #fi .fi_menu ul.main li.on:after {
    display: none;
}
#fi .fi_menu ul.main li:after {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    right: 1px;
    width: 1px;
    height: 12px;
    background: rgba(255,255,255, 0.5);
}
#fi .fi_menu ul.main li:last-child:after {
    display: none;
}
#fi .fi_menu ul.main li button {
    white-space: nowrap;
    width: 100%;
    padding: 0 19px;
    line-height: 45px;
}
#fi .fi_menu ul.main li button:focus {
    outline: 2px solid #000;
}
#fi .fi_menu .m_menu {
    display: none;
    position: absolute;
    top: 47px;
    border: 3px solid #3b62bb;
    z-index: 10;
    width: 100%;
    background: #fff;
    font-size: 15px;
    color: #282828;
}
#fi .fi_menu .m_menu.on {
    display: none;
}
#fi .fi_menu .m_menu ul li {
    float: left;
    width: 50%;
    line-height: 45px;
    text-align: center;
}
#fi .fi_menu .m_menu ul li.on button {
    color: #3b62b3;
    text-decoration: underline;
}
#fi .fi_menu .m_menu ul li:nth-child(2n) {
    border-left:1px dashed #ddd;
}
/* 콘텐츠 */
#fi .fi_cont {
    position: relative;
}
#fi .fi_cont > div {
    display: none;
    margin-top: 10px;

}
#fi .fi_cont > div:after {
    content: '';
    display: block;
    clear: both;
}
#fi .fi_cont > div > div {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#fi .fi_cont > div > ul li {
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#fi .fi_cont > div.on {
    display: block;
}
#fi .fi_cont > .lr {
    display: none;
}
    #fi .fi_cont > .lr button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 67px;
        height: 67px;
    }
    #fi .fi_cont > .lr button.prev {
        background: url(../images/icon_fi1.png)no-repeat center;
        left: -120px;
    }
    #fi .fi_cont > .lr button.next {
        background: url(../images/icon_fi2.png)no-repeat center;
        right: -120px;
    }



/* 보건 의료 공통 */
#fi .fi_cont .me {
    margin-top: 10px;
    position: relative;
}
#fi .fi_cont .me > div > div {
    border-radius: 10px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
#fi .fi_cont .me > div > div:nth-child(1){
    height: 374px;
}
#fi .fi_cont .me > div > div:nth-child(2){
    margin-top: 10px;
    height: 230px;
}
#fi .fi_cont .me > div > div h3 {
    font-size: 23px;
    line-height: 38px;
    margin-bottom: 5px;
    color: #1e1e1e;
}
#fi .fi_cont .more{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}
#fi .fi_cont .more span {
    display: block;
    width: 0;
    height:0;
    border-bottom: 25px solid transparent;  /*사이즈는 중점과의 거리 */
    border-left: 25px solid transparent;
    border-top: 25px solid #eee;
    border-right: 25px solid #eee;
}
#fi .fi_cont .more span em{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    right: 4px;
}
#fi .fi_cont .more span em i {
    cursor: pointer;
    color: #fff;
    position: relative;
    font-size: 24px;
    height:23px;/* xeicon 회전시 중앙 맞추기 위해 사용*/
    width: 24px;
    text-align: center;
}
#fi .fi_cont .more span em i:hover {
    transition:2s;
    transform: rotate(720deg);
}
#fi .fi_cont .more em:hover {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    outline:1px dotted #000;
}
/* 보건 의료 */
#fi .fi_cont .me .box1{
    width: calc(50% + 40px);
    padding: 0 10px;
    margin:0 calc(25% - 20px);
}
#fi .fi_cont .me .box1 > div {
    border-radius: 10px;
}
#fi .fi_cont .me .box1 .vs {
    background: transparent;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    border: 6px solid #fff;
    padding-top: 55px;
}
#fi .fi_cont .me .box1 .icon{
}
#fi .fi_cont .me .box1 .icon h3 {
    font-size: 23px;
    color: #1e1e1e;
    text-align: center;
    font-weight: 600;
}
#fi .fi_cont .me .box1 .vs p {
    margin-top: 10px;
    color: #637486;
}
#fi .fi_cont .me .box1 .icon {
    padding-top: 30px;
    text-align: center;
    background: #fff;
    margin-top: 10px;
}
#fi .fi_cont .me .box1 .icon ul {
    margin-top: 10px;
}
#fi .fi_cont .me .box1 .icon ul li {
    float: left;
    position: relative;
    padding-top: 80px;
    width: calc(100% / 7 );
}
#fi .fi_cont .me .box1 .icon ul li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 80px;
    border-right: 1px dotted #c1c4cc;
}
#fi .fi_cont .me .box1 .icon ul li:last-child:after {
    display: none;
}
#fi .fi_cont .me .box1 .icon ul li i {
    background-image: url(../images/icon_me.png);
    background-repeat: no-repeat;
    background-color: #fff;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
#fi .fi_cont .me .box2 {
    position: absolute;
    width: calc(25% - 20px);
    top: 0;
    left: 0;
}

#fi .fi_cont .me .box2 > div {
    padding: 25px 30px 0 30px;

}
#fi .fi_cont .me .box2 .opr{
    height: 374px;
}
#fi .fi_cont .me .box2 .opr dl:nth-of-type(3):after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    color: #7d7d7d;
    width: 69px;
    height: 73px;
    background:#fff url(../images/me3.png)no-repeat right bottom;

}
#fi .fi_cont .me .box2 .opr p {
    line-height: 24px;
    margin-bottom: 10px;
}
#fi .fi_cont .me .box2 .opr dl {
    position: relative;
    padding-left: 8px;
    margin: 10px 0;
}
#fi .fi_cont .me .box2 .opr dt {
    line-height: 24px;
    color: #1e1e1e;
}
#fi .fi_cont .me .box2 .opr dl:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background: #1e1e1e;
    width: 3px;
    height: 3px;
}
#fi .fi_cont .me .box2 .opr dd {}
#fi .fi_cont .me .box2 .opr > span{
    display: block;
    margin-top: 25px;
}
#fi .fi_cont .me .box2 .opr > span:after {
    content: '';
    display: block;
    clear: both;
}
#fi .fi_cont .me .box2 .opr > span a {
    float: left;
    width: 142px;
    color: #fff;
    text-align: center;
    line-height: 47px;
    background: #324961;
    border-radius: 10px;
}
#fi .fi_cont .me .box2 .opr > span a:nth-child(1){
    background: #cd2d65;
}
#fi .fi_cont .me .box2 .opr > span a:nth-child(2){
    float: right;
}
/* notice */

#fi .fi_cont .me .box2 .ntc ul {
    margin-top: 10px;
}
#fi .fi_cont .me .box2 .ntc ul li {
}
#fi .fi_cont .me .box2 .ntc ul li a {
    display: block;
    position: relative;
    width: 100%;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 60px;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#fi .fi_cont .me .box2 .ntc ul li i {
    position: absolute;
    top: 0;
    right: 0;
    color: #a2a2a2;
}
#fi .fi_cont .me .box2 .ntc ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background: #1e1e1e;
    width: 3px;
    height: 3px;
}
#fi .fi_cont .me .box2 .ntc ul li a:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: calc(100% - 3px);
    border:1px dotted #000;
}
#fi .fi_cont .me .box2 .ntc ul li:hover{
    text-decoration: underline;
}

#fi .fi_cont .me .box3 {
    position: absolute;
    width: calc(25% - 20px);
    top: 0;
    right: 0;
}
#fi .fi_cont .me .box3 > div {
    padding: 25px 30px 0 30px;
}
#fi .fi_cont .me .box3 .od {
    height: 302px;
}
#fi .fi_cont .me .box3 .od .od_tit p {
    color: #7d7d7d;
}
#fi .fi_cont .me .box3 .od ul {
    margin-top: 20px;
}

#fi .fi_cont .me .box3 .od ul li {
    display: block;
    position: relative;
    width: 100%;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 60px;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#fi .fi_cont .me .box3 .od ul li span {
    position: absolute;
    top: 0;
    right: 0;
    color: #a2a2a2;
    padding-left: 24px;
    background: url(../images/icon_call.png)no-repeat left center;
}
#fi .fi_cont .me .box3 .od ul li:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background: #1e1e1e;
    width: 3px;
    height: 3px;
}
#fi .fi_cont .me .box3 .od .ps {
    border-top: 1px dashed #aaa;
    padding-top: 20px;
    margin-top: 20px;
}
#fi .fi_cont .me .box3 .od .ps p {
    color: #777;
    padding-left: 24px;
    line-height: 1.4;
    font-size: 14px;
    background: url(../images/icon_cau.png)no-repeat left top;
}

#fi .fi_cont .me .box3 .tw {
    height: 302px;
}

#fi .fi_cont .me .box3 .tw > ul {
    margin-top: 10px;
}
#fi .fi_cont .me .box3 .tw > ul li {
}
#fi .fi_cont .me .box3 .tw > ul li a {
    display: block;
    position: relative;
    width: 100%;
    line-height: 26px;
    padding-right: 60px;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#fi .fi_cont .me .box3 .tw > ul li i {
    position: absolute;
    top: 0;
    right: 0;
    color: #a2a2a2;
}
#fi .fi_cont .me .box3 .tw > ul li a:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: calc(100% - 3px);
    border:1px dotted #000;
}
#fi .fi_cont .me .box3 .tw > ul li:hover{
    text-decoration: underline;
}



#fi .fi_cont .me .box3 .tw .week {
    margin-top: 40px;
}
#fi .fi_cont .me .box3 .tw .week ul li {
    text-align: center;
    float: left;
    width: calc(100% / 7);
}
#fi .fi_cont .me .box3 .tw .week ul li:first-child {
    color: #d80a16;
}
#fi .fi_cont .me .box3 .tw .week .day {

}
#fi .fi_cont .me .box3 .tw .week .date {
    margin-top: 20px;
}

/* 교육 */
#fi .fi_cont .edu {
}
#fi .fi_cont .edu > div {
    background: #fff;
    width: calc(40% - 10px);
    margin-right: 10px;
    height: 614px;
    float: left;
}
#fi .fi_cont .edu > .box3 {
    width: 20%;
    margin-right: 0;
}

/* 복지 */
#fi .fi_cont .wf {
    height: 614px;
}
#fi .fi_cont .wf > div {
    background: #fff;
    height: 100%;
    float: left;
    width: 50%;
}
#fi .fi_cont .wf .box1 {
    width: calc(50% - 10px);
    margin-right: 10px;
}

/* 산업경제 */
#fi .fi_cont .ids > div {
    background: #fff;
    width: calc(25% - 20px);
    height: 614px;
}
#fi .fi_cont .ids .box1 {
    width: calc(50% + 20px);
    margin: 0 calc(25% - 10px);
}
#fi .fi_cont .ids .box2 {
    position: absolute;
    top: 0;
    left: 0;
}
#fi .fi_cont .ids .box3 {
    position: absolute;
    top: 0;
    right: 0;
}

/* 농축산 */
#fi .fi_cont .ag > div {
    background: #fff;
    width: calc(25% - 20px);
    height: 614px;
}
#fi .fi_cont .ag .box1 {
    width: calc(50% + 20px);
    margin: 0 calc(25% - 10px);
}
#fi .fi_cont .ag .box2 {
    position: absolute;
    top: 0;
    left: 0;
}
#fi .fi_cont .ag .box3 {
    position: absolute;
    top: 0;
    right: 0;
}

/* 재난 안전 */
#fi .fi_cont .sf > ul li {
    background: #fff;
    float: left;
    width: calc(25% - 9px);
    margin-right: 12px;
    height: 614px;
}
#fi .fi_cont .sf > ul li:last-child {
    margin-right: 0;
}
/* 환경, 상하수도*/
#fi .fi_cont .eco > div {}

#fi .fi_cont .eco > div {
    background: #fff;
    width: calc(25% - 20px);
    height: 614px;
}
#fi .fi_cont .eco .box1 {
    width: calc(50% + 20px);
    margin: 0 calc(25% - 10px);
}
#fi .fi_cont .eco .box2 {
    position: absolute;
    top: 0;
    left: 0;
}
#fi .fi_cont .eco .box3 {
    position: absolute;
    top: 0;
    right: 0;
}

/*교통*/
#fi .fi_cont .trf > ul li {
    background: #fff;
    float: left;
    width: calc(25% - 9px);
    margin-right: 12px;
    height: 614px;
}
#fi .fi_cont .trf > ul li:last-child {
    margin-right: 0;
}

/*식품위생*/
#fi .fi_cont .fd {
    margin-top: 0;
}
#fi .fi_cont .fd > ul li {
    width: calc(20% - 8px);
    margin-right: 10px;
    height: 302px;
    float: left;
    margin-top: 10px;
}
#fi .fi_cont .fd > ul li:nth-child(5n) {
    margin-right: 0;
}
/*생활체육시설*/
#fi .fi_cont .lf > div{
    border-radius: 10px;
    border:5px solid #fff;
    height: 614px;
}
/*부동산*/
#fi .fi_cont .re {
    margin-top: 0;
}
#fi .fi_cont .re > ul li {
    width: calc(25% - 9px);
    height: 302px;
    float: left;
    margin-right: 12px;
    margin-top: 10px;
}
#fi .fi_cont .re > ul li:nth-child(4n) {
    margin-right: 0;
}

/* 콘텐츠 하단 버튼 */
#fi .fi_swich {
    position: relative;
    height: 60px;
}
#fi .fi_swich .btn{
    position: absolute;
    left: calc(50% - 21px);
    bottom: 0;
}
#fi .fi_swich .btn button {
    width: 42px;
    height: 42px;
    background: rgba(40,40,40,.5);
    color: #fff;
    font-size: 30px;
    border-radius: 30px;
    display: none;
}
#fi .fi_swich .btn button i {
    position: relative;
    top: 1px;
    left: 1px;
}
#fi .fi_swich .btn .play i {
    left: 2px;
}
#fi .fi_swich .btn button.on {
    display: inline;
}
/* 패밀리 사이트 네비*/
#fnb {
    position: relative;
    margin-top: 60px;
    background: #fff;
}
#fnb .wrap:after {
    content: '배너';
    position: absolute;
    color: 333px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
#fnb .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
}
#fnb .btn button {
    display: none;
    padding: 0;
}
#fnb .btn button i {
    color: #999;
    font-size: 30px;
}
#fnb .btn button.on {
    display: inline-block;
}
#fnb .fnb_slide {
    margin-left: 245px;
    overflow:hidden;
}
#fnb ul {
    white-space: nowrap;
    position: relative;
    top: 0;
    left: 0;
    font-size: 0;
}
#fnb ul li {
    display: inline-block;
    padding: 15px 60px 15px 0;
}
#fnb ul li:first-child {
    padding-left: 0;
}
#fnb ul li:last-child {
    padding-right: 0;
}
#fnb ul li:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 4px;
    height: 4px;
    background: #aaa;
}
#fnb ul li img {
    height: 45px;
}


