@media (max-width:800px) {

    /* 모바일용 */
    .pc {
        display: none;
    }

    .wrap {
        width: 100%;
        padding: 0 16px;
    }

    header {
        height: 56px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border: none;
    }

    header h1 {
        text-align: center;
    }

    header h1 img {
        height: 24px;
        margin-top: 16px;
    }

    header .m_menu {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 14px;
    }

    header .m_menu img {
        margin-top: 16px;
    }

    .blank {
        height: 60px;
    }

    body {
        background: #f4f6fa;
    }

    /*footer*/

    footer {
        border-top: none;
        margin-top: 40px;
        background: #eff2f7;
        padding-bottom: 60px;
    }

    footer dl dt {
        line-height: 32px;
    }

    footer dl dd {
        font-weight: 300;
        color: #000;
        font-size: 11px;
    }

    footer dl dd:nth-of-type(1) {
        background: url(../images/main/mob/ico-1-time.svg)no-repeat left center;
        padding-left: 24px;
        line-height: 32px;
    }

    footer dl dd:nth-of-type(2) {
        background: url(../images/main/mob/ico-1-cs.svg)no-repeat left center;
        padding-left: 24px;
        line-height: 32px;
    }

    footer .f_info {
        border-top: 1px solid #ccc;
        margin-top: 40px;
        padding-top: 38px;
        text-align: center;
    }

    footer .f_info ul {
        display: flex;
        justify-content: center;
    }

    footer .f_info ul li {
        float: left;
    }

    footer .f_info ul li:first-child:after {
        content: '|';
        margin: 0 10px;
        font-size: 10px;
        position: relative;
        top: -2px;
        color: #c2c2c2;
        font-weight: 100;
    }

    footer .f_info address {
        color: #666;
        margin-top: 27px;
    }

    footer .f_info address > p {
        padding-bottom: 13px;
        color: #666
    }

    footer .f_info > span {
        color: #999
    }



    /* 메인비주얼 슬라이드 */
    #visual {
        margin-bottom: 0;
    }

    #visual .visual_slide {
        width: 100%;
        height: 364px;
    }

    #visual .visual_slide .vi_cont {
        width: 600%;
        position: relative;
    }

    /* 너비 : 영역 갯수 + 1 * 100% */
    #visual .visual_slide .vi_cont li {
        width: calc(100% / 6);
        height: 364px;
        padding: 34px 26px;
    }

    #visual .visual_slide .vi_cont li figure {
        width: 0;
        height: 0;
        top: 90%;
        left: 50%;
        position: absolute;
        background: #f00;
    }

    #visual .visual_slide .vi_cont li figure img {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
    }

    /* 스크립트 미작동시 기본위치값*/
    #visual .visual_slide ul .baskin {
        background: url(../images/main/mob/mo-baskinrobbins-bg.png)no-repeat center center/cover;
    }

    #visual .visual_slide ul .baskin figure img:nth-of-type(1) {
        top: auto;
        bottom: 94px;
        left: -10px;
        width: 267px;
        transform: translateX(-50%);
    }

    #visual .visual_slide ul .baskin figure img:nth-of-type(2) {
        top: auto;
        bottom: 0;
        left: -80px;
        width: 90px;
        transform: translateX(-50%);
        z-index: 1;
    }

    #visual .visual_slide ul .baskin figure img:nth-of-type(3) {
        top: auto;
        bottom: 0;
        left: 0;
        width: 174px;
        transform: translateX(-50%);
    }

    #visual .visual_slide ul .starbucks {
        background: url(../images/main/mob/mo-starbucksPointree-bg.png)no-repeat left top/cover;
    }

    #visual .visual_slide ul .starbucks figure img:nth-of-type(1) {
        top: auto;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
        width: 62px;
        z-index: 1;
    }

    #visual .visual_slide ul .starbucks figure img:nth-of-type(2) {
        top: auto;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
        width: 250px;
    }

    #visual .visual_slide ul .starbucks figure img:nth-of-type(3) {
        top: auto;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
        width: 187px;
    }

    #visual .visual_slide ul .trip {
        background: url(../images/main/mob/mo-travel-bg.png)no-repeat left top/cover;
    }

    #visual .visual_slide ul .trip figure img:nth-of-type(1) {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 103px;
    }

    #visual .visual_slide ul .trip figure img:nth-of-type(2) {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 83px;
    }

    #visual .visual_slide ul .trip figure img:nth-of-type(3) {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 165px;
    }

    #visual .visual_slide ul .ptree {
        background: url(../images/main/mob/mo-starshop-bg.png)no-repeat left top/cover;
    }

    #visual .visual_slide ul .ptree figure img:nth-of-type(1) {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 70px;
    }

    #visual .visual_slide ul .ptree figure img:nth-of-type(2) {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 193px;
    }

    #visual .visual_slide ul .ptree figure img:nth-of-type(3) {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 236px;
    }

    #visual .visual_slide ul .lego {
        background: url(../images/main/mob/mo-legolandCard-bg.png)no-repeat left top/cover;
    }

    #visual .visual_slide ul .lego figure img:nth-of-type(1) {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        z-index: 1;
        width: 98px;
    }

    #visual .visual_slide ul .lego figure img:nth-of-type(2) {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 68px;
        z-index: 1;
        width: 49px;
    }

    #visual .visual_slide ul .lego figure img:nth-of-type(3) {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 161px;
    }

    /* 비주얼 슬라이드 버튼 */
    #visual .visual_slide .vi_cont li span {
        font-size: 16px;
    }

    #visual .visual_slide .vi_cont li p {
        font-size: 26px;
        padding-top: 8px;
        font-weight: 500;
    }

    #visual .visual_slide .prev {
        position: absolute;
        top: 50%;
        left: 30px;
    }

    #visual .visual_slide .next {
        position: absolute;
        top: 50%;
        right: 30px
    }

    #visual .visual_slide .stop {
        position: absolute;
        top: 90%;
        left: calc(50% + 60px);
        transform: translateY(-10%)
    }

    #visual .visual_slide .play {
        position: absolute;
        top: 90%;
        left: calc(50% + 60px);
        transform: translateY(-10%);
        display: none;
    }

    #visual .visual_slide > span {
        position: absolute;
        bottom: 16px;
        left: 300px;
        background: rgba(0, 0, 0, 0.3);
        width: 44px;
        line-height: 24px;
        border-radius: 24px;
        text-align: center;
        font-size: 14px;
    }

    /* 모바일 슬라이드 네비*/
    #visual .m_nav {
        height: 12px;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%)
    }

    #visual .m_nav li {
        width: 6px;
        height: 6px;
        background: #cfcfd1;
        float: left;
        margin-right: 10px;
        border-radius: 20px;
    }

    #visual .m_nav li.m_on {
        width: 16px;
        background: #1f1f20;
    }

    #visual .m_nav li:last-child {
        margin-right: 0;
    }


    #card {
        padding: 0;
    }

    #card h3 {
        font-size: 20px;
        color: #000;
        padding-top: 48px;
        font-weight: 400;
    }

    #card .main_card {
        margin-top: 16px;
        height: auto;
        box-shadow: 1px 2px 5px #e2e5e8
    }

    #card .main_card > ul {
        padding-left: 0px;
        padding-top: 0;
        padding-left: 20px;
    }

    #card .main_card > ul li {
        margin: 24px 8px 24px 0;
        font-size: 16px;
    }

    #card .main_card > ul li a {
        background: #eee;
        display: block;
        line-height: 38px;
        width: 56px;
        border-radius: 100px
    }

    #card .main_card > ul li a.under {
        background: #222;
        color: #fff;
    }

    #card .main_card > div {
        height: inherit;
        overflow: auto;
    }

    #card .main_card > div.debit {
        display: none;
    }

    #card .main_card > div > ul {
        width: 1200px;
    }

    #card .main_card > div > ul li {
        height: 266px;
        width: 184px;
        margin: 0 0 24px 16px;
        border-radius: 10px;
        padding: 24px 16px;
    }

    #card .main_card > div > ul li:nth-child(3n + 1) {
        background: #fff6ce
    }

    #card .main_card > div > ul li:nth-child(3n + 2) {
        background: #f1f6ff
    }

    #card .main_card > div > ul li:nth-child(3n + 3) {
        background: #fff0f8
    }

    #card .main_card > div > ul li figure {
        height: 80px;
    }

    #card .main_card > div > ul li figure img {
        height: 50px;
    }

    #card .main_card > div > ul li p {
        font-size: 16px;
        margin: 20px 0 40px;
    }

    #card .main_card > div > ul li span {
        color: #000;
        font-weight: 400;
        font-size: 14px;
        padding: 4px 0;
    }

    #card .btn_m {
        margin-top: 24px;
    }

    #card .btn_m li {
        float: left;
        width: 50%;
        padding: 4px;
        font-size: 14px;
        text-align: center;
    }

    #card .btn_m li a {
        background: #fff;
        display: block;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #878787;
    }

    #card .fin_loan {
        background: #fff;
        padding: 0 16px;
        border-radius: 10px;
        border: 1px solid #eee;
        margin-top: 16px;
        box-shadow: 1px 2px 5px #e2e5e8
    }

    #card .fin_loan li {
        border-bottom: 1px solid #eee;
        padding: 24px 0;
    }

    #card .fin_loan li > span {
        font-size: 14px;
        color: #666;
    }

    #card .fin_loan li h4 {
        font-size: 18px;
    }

    #card .fin_loan li p {
        font-size: 16px;
        margin: 13px 0 35px;
    }

    #card .fin_loan li > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #card .fin_loan li div span {
        font-size: 14px;
        color: #666;
        line-height: 1.6;
    }

    #card .fin_loan li div span b {
        font-size: 18px;
        color: #000;
    }

    #card .fin_loan li div span i {
        color: #000;
    }

    #card .fin_loan li div a {
        font-size: 14px;
        background: #fc0;
        display: block;
        width: 50px;
        line-height: 32px;
        text-align: center;
        border-radius: 4px;
        margin: 8px 0;
    }

    #card .fin_lease {
        background: #fff;
        padding: 0 16px;
        border-radius: 10px;
        border: 1px solid #eee;
        margin-top: 24px;
        box-shadow: 1px 2px 5px #e2e5e8
    }

    #card .fin_lease li {
        border-bottom: 1px solid #eee;
        padding: 24px 0;
    }

    #card .fin_lease li:nth-child(1) {
        background: #fff url(../images/main/mob/ico-visual-rental-car.svg)no-repeat left center;
    }

    #card .fin_lease li:nth-child(2) {
        background: #fff url(../images/main/mob/ico-visual-rental-phone.svg)no-repeat left center;
    }

    #card .fin_lease li p {
        margin-left: 56px;
        font-size: 18px;
        line-height: 1.6;
    }

    #card .fin_lease li p span {
        font-size: 16px;
    }

    #benefit {
        color: #222;
    }

    #benefit h3 {
        font-size: 20px;
        margin: 50px 0 20px;
    }

    #benefit .easy {
        float: none;
        width: auto;
        height: auto;
        background: #fff;
        padding: 0 16px;
        border-radius: 10px;
        border: 1px solid #eee;
        box-shadow: 1px 2px 5px #e2e5e8;
    }

    #benefit .easy span {
        line-height: normal;
        border-bottom: 1px solid #eee;
        padding: 24px 0 24px 64px;
        font-size: 18px;
        line-height: 1.6;
    }

    #benefit .easy span i {
        font-size: 14px;
    }

    #benefit .easy span:nth-child(1) {
        background: url(../images/main/mob/ico-visual-calendar-auto.svg)no-repeat left center;
    }

    #benefit .easy span:nth-child(2) {
        background: url(../images/main/mob/ico-visual-overseas.svg)no-repeat left center;
        margin: 12px 0;
    }

    #benefit .easy span:nth-child(3) {
        background: url(../images/main/mob/ico-visual-bell.svg)no-repeat left center;
    }

    #benefit .friends_slide {
        overflow: hidden;
        height: 200px;
        margin-top: 48px;
        position: relative;
    }

    #benefit .friends_slide .m_cont {
        width: 400%;
        position: relative;
    }

    #benefit .friends_slide .m_cont li {
        float: left;
        width: 25%;
        background: #faa;
        border-radius: 10px;
        height: 136px;
        position: relative;
        padding: 24px 16px;
    }

    #benefit .friends_slide .m_cont li p {
        font-size: 18px;
        padding-bottom: 24px;
    }

    #benefit .friends_slide .m_cont li span {
        font-size: 14px;
        line-height: 1.6;
    }

    #benefit .friends_slide .m_cont li:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -20px;
        width: 328px;
        height: 200px;
    }

    #benefit .friends_slide .m_cont li:nth-child(1),
    #benefit .friends_slide .m_cont li:last-child {
        background: url(../images/main/mob/img-bg-friends.png)no-repeat left bottom/cover;
    }

    #benefit .friends_slide .m_cont li:nth-child(1):after,
    #benefit .friends_slide .m_cont li:last-child:after {
        background: url(../images/main/mob/img-friends.png)no-repeat right bottom/328px;
    }

    #benefit .friends_slide .m_cont li:nth-child(2) {
        background: url(../images/main/mob/img-bg-travel.png)no-repeat left bottom/cover;
    }

    #benefit .friends_slide .m_cont li:nth-child(2):after {
        background: url(../images/main/mob/img-travel.png)no-repeat right bottom/328px;
    }

    #benefit .friends_slide .prev {
        z-index: 1;
        opacity: 0.7;
        position: absolute;
        top: 156px;
        left: 30%;
    }

    #benefit .friends_slide .next {
        z-index: 1;
        opacity: 0.7;
        position: absolute;
        top: 156px;
        right: 30%;
    }

    #benefit .friends_slide .stop {
        z-index: 1;
        opacity: 0.7;
        position: absolute;
        top: 163px;
        left: calc(58% - 5px);
    }

    #benefit .friends_slide .play {
        z-index: 1;
        opacity: 0.7;
        position: absolute;
        top: 163px;
        left: calc(58% - 5px);
        display: none;
    }

    /* 모바일 슬라이드 네비*/
    #benefit .m_nav {
        height: 12px;
        position: absolute;
        top: 166px;
        left: 50%;
        transform: translate(-100%)
    }

    #benefit .m_nav li {
        width: 6px;
        height: 6px;
        background: #cfcfd1;
        float: left;
        margin-right: 10px;
        border-radius: 20px;
    }

    #benefit .m_nav li.m_on {
        width: 16px;
        background: #1f1f20;
        z-index: 999;
    }

    #benefit .m_nav li:last-child {
        margin-right: 0;
    }


    #notice .news {
        width: auto;
        float: none;
        margin-top: 44px;
    }

    #notice .news table {
        margin-top: 38px;
        background: #fff;
        padding: 20px;
        display: block;
        border-radius: 10px;
        border: 1px solid #eee;
        box-shadow: 1px 2px 5px #e2e5e8;
    }

    #notice .news table {
        margin-top: 22px;
        position: relative;
    }

    #notice .news td:nth-child(1) {
        margin-right: 0;
        padding-right: 0;
        font-size: 12px;
        position: absolute;
        right: 20px;
    }

    #notice .news td:nth-child(2) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 50vw;
    }

    #notice .news tr:first-child td {
        padding-bottom: 24px;
    }

    #notice .news tr {
        width: 100%;
    }

    #notice .news tr:last-child {
        display: none;
    }

    #notice .news td {
        font-size: 14px;
        padding-bottom: 0;
    }

    #notice .app h3 {
        margin: 48px 0 16px;
    }

    #notice .app ul {
        background: #fff;
        text-align: center;
        padding: 24px 16px;
        border: 1px solid #eee;
        box-shadow: 1px 2px 5px #e2e5e8;
        border-radius: 10px;
        font-size: 14px;
    }

    #notice .app ul li {
        float: left;
        width: calc(100% / 3);
        height: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 20px;
    }


    #notice .app ul li:nth-child(1) {background: url(../images/main/mob/logo-app-kbcard-48.png)no-repeat top center /48px ;}
    #notice .app ul li:nth-child(2) {background: url(../images/main/mob/logo-app-kbpay-48.png)no-repeat top center /48px ;}
    #notice .app ul li:nth-child(3) {background: url(../images/main/mob/logo-app-livvmate-48.png)no-repeat top center /48px ;}
    #notice .app ul li:nth-child(4) {background: url(../images/main/mob/logo-app-kbmall-48.png)no-repeat top center /48px ;}
    #notice .app ul li:nth-child(5) {background: url(../images/main/mob/logo-app-kbbank.png)no-repeat top center /48px ;}
    #notice .app ul li:nth-child(6) {background: url(../images/main/mob/app_liivnext_32.png)no-repeat top center /48px ;}
    #notice .app ul li:nth-child(7) {background: url(../images/main/mob/logo-app-kbdirect-48.png)no-repeat top center /48px ;}

    #notice .app > p {
        margin-top: 44px;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 1px 2px 5px #e2e5e8;
        border-radius: 10px;
        height: 136px;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        padding: 24px;
        position: relative;
    }

    #notice .app > p:after {
        content: '';
        height: 60%;
        width: 1px;
        background: #eee;
        position: absolute;
        top: 20%;
        left: 50%;
    }

    #notice .app > p span {
        display: block;
        height: 100%;
    }

    #notice .app > p span:nth-child(1) {
        background: url(../images/main/mob/ico-visual-starshop.svg)no-repeat center/48px;
    }

    #notice .app > p span:nth-child(2) {
        background: url(../images/main/mob/ico-visual-ttbb_2.svg)no-repeat center/48px;
    }

    #notice .app > p span a {
        display: block;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    #notice .m_sns {
        margin-top: 52px;
    }

    #notice .m_sns ul {
        margin-top: 20px;
    }

    #notice .m_sns ul li {
        float: left;
        height: 80px;
        background: #eff;
        width: 25%;
        padding-bottom: 10px;
        background-size: 48px;
    }

    #notice .m_sns ul li:nth-child(1) {background: url(../images/main/mob/logo-yt.png)no-repeat center top/48px; }
    #notice .m_sns ul li:nth-child(2) {background: url(../images/main/mob/logo-blog.png)no-repeat center top/48px;}
    #notice .m_sns ul li:nth-child(3) {background: url(../images/main/mob/logo-insta.png)no-repeat center top/48px;}
    #notice .m_sns ul li:nth-child(4) {background: url(../images/main/mob/logo-fb.png)no-repeat center top/48px;}

    #notice .m_sns ul li a {
        display: block;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    }


@media (min-width:801px) { /* PC용 */
    .mob{ display:none;}

    #card .main_card > ul li a {
        position: relative;
    }

    #card .main_card > ul li a:hover {
        font-weight: 600;
    }

    #card .main_card > ul li a.under {
        font-weight: 600;
    }

    #card .main_card > ul li a.under:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: #000;
        position: absolute;
        bottom: -4px;
        left: 0;
    }

    #card .main_card > ul li a:hover:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: #000;
        position: absolute;
        bottom: -4px;
        left: 0;
    }

}
