/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, videom {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    overscroll-behavior: contain;
}
body {
	line-height: 1;
    overscroll-behavior: contain;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* web font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

/* common */
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    font-size: 12px;
}

input {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    font-style: none;
}

img {
    vertical-align: top;
}

.wrap {
    width: 1080px;
    margin: 0 auto;
    position: relative;
}

.blind {
    display: none;
    position: absolute;
    left: -9999px;
    width: 0;
}

ul:after,
.wrap:after,
section:after {
    content: "";
    clear: both;
    display: block;
}
/* header */
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 19;
    background: #fff;
}

header .top {
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

header .top li {
    float: left;
}

header .top h1 img {
    margin-top: 15px;
}

header .top .snb {
    position: absolute;
    top: 0;
    left: 200px;
    color: #333;
}

header .top .snb li {
    margin-right: 15px;
}

header .top .snb li a:hover {
    border-bottom: 2px solid #000;
    font-weight: 600;
    padding-bottom: 2px
}

header .top .gnb {
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
    font-size: 12px;
    font-weight: 100;
}

header .top .gnb li:after {
    content: "|";
    margin: 0 10px;
    color: #ccc;
}

header .top .gnb li:last-child:after {
    display: none;
}

/* stiker */
header #stiker {
    line-height: 80px;
    top: 60px;
    left: 0;
    background: #fff;
    z-index: 19;
    width: 100%;
    overflow: hidden;
}

header #stiker .menu {
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: center;
}

header #stiker .wrap > i {
    background: #ffe066;
    width: 0;
    height: 12px;
    position: absolute;
    top: 34px;
    transition: 0.2s;
}

header #stiker .menu li {
    float: left;
    padding-right: 30px;
    position: relative;
}

header #stiker .sign {
    float: right;
    padding-left: 400px;
}

header #stiker .sign a {
    margin-left: 10px;
}

header #stiker .sign a:first-child {
    border: 1px solid #aaa;
    width: 80px;
    height: 40px;
    display: inline-block;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
}

header #stiker .sign img {
    margin-top: 20px;
}
/* 추가 메뉴*/
header #stiker .dnb {
    border-top: 1px solid #ddd;
    font-size: 14px;
    background: #f9f9f9;
    width: 100%;
}

header #stiker .dnb .wrap {
    display: none;
}

header #stiker .dnb:after,
#stiker .dnb .dnb_link:after {
    content: "";
    clear: both;
    display: block;
}

header #stiker .dnb .dnb_point {
    display: block;
    width: 100%;
    height: 77px;
    line-height: 77px;
    border-bottom: 1px solid #ddd;
    padding: 0;
    float: none;
}

header #stiker .dnb .dnb_point li {
    float: left;
    border: 1px solid #ddd;
    border-radius: 40px;
    line-height: 24px;
    margin-right: 10px;
    padding: 0 15px;
    margin-top: 22px;
    color: #333;
}

header #stiker .dnb .dnb_point li:hover {
    background: #ffcc00;
}

header #stiker .dnb .dnb_link {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

header #stiker .dnb .dnb_link ul {
    border-left: 1px solid #ddd;
    float: left;
    margin: 34px 0;
}

header #stiker .dnb .dnb_link ul:first-child {
    border-left: none;
}

header #stiker .dnb .dnb_link ul li {
    margin-left: 10px;
    line-height: 40px;
}

header #stiker .dnb .dnb_link ul li:hover {
    color: #000;
    text-decoration: underline;
}

header #stiker .dnb .dnb_link ul li:first-child {
    font-weight: 600;
    color: #333;
}

/* 검색, 카테고리 메뉴*/
#fix_menu {
    position: fixed;
    top: 61px;
    z-index: 20;
    width: 100%;
    display: none;
    z-index: 20;
    height: 100%;
}

#fix_menu .exit {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 81px;
}

#fix_menu .exit img {
    vertical-align: middle;
}

#fix_menu .fix_top {
    line-height: 81px;
    background: #6b717f;
    color: #d2d4d8;
    font-size: 18px;
}

#fix_menu .fix_top ul li {
    float: left;
    margin-right: 60px;
}

#fix_menu .fix_top ul li:hover {
    color:#fff;
}

#fix_menu .fix_top ul li.under {
    color: #fff;
    position: relative;
}

#fix_menu .fix_top ul li.under:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 3px);
    border-bottom: 7px solid #fff;
    border-top: 7px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

#fix_menu .fix_cont {
    background: #fff;
    font-size: 14px;

}

#fix_menu .fix_cont .wrap {

}

#fix_menu .fix_cont .wrap > div {
    justify-content: flex-start;
    display: none;
    max-height: calc(100vh - 142px);
    overflow-y: auto;
}

/* 스크롤바 커스텀 */
#fix_menu .fix_cont .wrap > div::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

#fix_menu .fix_cont .wrap > div::-webkit-scrollbar-thumb {
    background: #a4a9b4; /* 스크롤바의 색상 */
    border-radius: 10px;
}

#fix_menu .fix_cont .wrap > div::-webkit-scrollbar-track {
    background: #eaecef;  /*스크롤바 뒷 배경 색상*/
}



#fix_menu .fix_cont .wrap > div ul {
    width: 20%;
}

#fix_menu .fix_cont .wrap > div ul li h3 {
    color: #333;
    font-size: 16px;
    line-height: 48px;
    margin: 0 60px 20px 0;
    border-bottom: 1px solid #000;
}

#fix_menu .fix_cont .wrap > div ul li {
    line-height: 28px;
    color: #666;
}

#fix_menu .fix_cont .wrap > div ul li b {
    display: block;
    margin: 26px 0 6px;
    color: #333;
    font-weight: 500;
}

#fix_menu .fix_cont .wrap > div.per {
    display: flex;
}
#fix_menu .fix_cont .wrap > div.store ul,
#fix_menu .fix_cont .wrap > div.int ul,
#fix_menu .fix_cont .wrap > div.log ul {
    width: 25%;
}

#fix_menu .wrap {}

#search {
    display: none;
}

#search .wrap {
    width: 750px;
}

#search .bar {
    background: #6b717f;
    height: 176px;
    padding: 50px 0 35px;
    color: #fff;
    font-size: 14px;
    position: relative;
}

#search .bar:after {
    content: "";
    clear: both;
    display: block;
}

#search .bar input {
    width: 750px;
    display: block;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 6px;
}

#search .bar button {
    font-size: 0px;
    width: 50px;
    height: 50px;
    background: url(../images/main/icon_search2.png)no-repeat center;
    border: none;
    position: absolute;
    top: 0;
    right: 8px;
}

#search .bar ul {
    float: left;
    line-height: 50px;
    font-weight: 300;
}

#search .bar ul li {
    float: left;
    margin-right: 30px;
}

#search .bar h3 {
    float: left;
    line-height: 50px;
    position: relative;
    padding-left: 28px;
}

#search .bar h3:after {
    content: '|';
    margin: 0 20px;
    color: #989ca6;
    font-size: 12px;
}

#search .bar h3:before {
    content: '';
    width: 18px;
    height: 50px;
    background: url(../images/main/icon_search.png)no-repeat center;
    position: absolute;
    top: 0;
    left: 0px;
}

#search .key .wrap {
    display: flex;
    padding: 16px 0 60px 0;
}

#search .key .pop_menu {
    width: 240px;
}

#search .key .pop_event {
    width: 270px;
    padding-left: 30px;
}

#search .key .pop_card {
    width: 240px;
    padding-left: 30px;
}

#search .key p {
    background: #f6f6f6;
    height: 125px;
    padding: 20px;
    margin: 20px 0;
    position: relative;
}

#search .key p b {
    font-size: 15px;
    padding-top: 10px;
    display: block;
    line-height: 24px;
    width: 122px;
}

#search .key p span {
    font-size: 10px;
    font-weight: 300;
    color: #666;
}

#search .key .pop_event p:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../images/main/menu.png)no-repeat center /contain;
    bottom: 20px;
    right: 20px;
}

#search .key .pop_card p:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../images/main/04587_img.png)no-repeat center top /contain;
    bottom: 20px;
    right: 20px;
}

#search .key ol li {
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#search .key ol li span {
    background: #ddd;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    margin: 10px 10px 0 0;
    text-align: center;
    border-radius: 4px;
    font-weight: 300;
    color: #1d1d1d;
    font-size: 13px;
}

#search .key ol li:first-child span {
    background: #ffdf01;
}

#search .key h3 {
    color: #614cc2;
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;
}

.s_exit {
    display: none;
}
/* 모바일 메뉴 페이지 헤드 */
#m_menu {
    display: none;
    background: #eff2f7;
}

#m_menu .blank {
    height: 56px;
}

#m_menu .top .m_head {
    line-height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
}

#m_menu .top {
    background: #f7f7fa;
}

#m_menu .top .m_head h2 {
    text-align: center;
    font-size: 18px;
}

#m_menu .top .m_head img {
    margin-top: 16px;
}

#m_menu .top .m_head .m_back {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 14px;
}

#m_menu .top .m_head .m_home {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 14px;
}

#m_menu .top .m_gnb {
    margin-bottom: 20px;
}

#m_menu .top .m_gnb > a {
    width: 77px;
    line-height: 32px;
    background: #f1f1f1;
    margin: 24px 8px 24px 0;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

#m_menu .top .m_gnb span {
    position: relative;
    display: block;
}

#m_menu .top .m_gnb input {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    outline: none;
    font-size: 18px;
    color: #000;
    padding-left: 16px;
}

#m_menu .top .m_gnb input:focus-visible {
    border-color: #000;
}

#m_menu .top .m_gnb input:focus-visible ~ .btn_clean {
    display: block;
}

#m_menu .top .m_gnb button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    border: none;
}

#m_menu .top .m_gnb .btn_clean {
    right: 40px;
    background: url(../images/main/mob/ico-close-g.svg)no-repeat center;
    display: none;
}

#m_menu .top .m_gnb .btn_search {
    right: 10px;
    background: url(../images/main/mob/ico-2-search.svg)no-repeat center;
}

#m_menu .top .nav_loc {
    top: 56px;
    z-index: 10;
    overflow: scroll;
    width: 100%;
}

#m_menu .top .nav_loc ul {
    white-space: nowrap;
    padding: 20px 0;
    font-size: 16px;
    position: relative;
    left: 0;
    display: block;
}

#m_menu .top .nav_loc ul li {
    line-height: 40px;
    padding: 0 14px;
    background: #e5e9eb;
    border-radius: 100px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    left: 0;
}

#m_menu .top .nav_loc ul li.under {
    background: #222;
    color: #cfcfd2;
}

#m_menu .mid {
    font-size: 16px;
    color: #000;
    background: #f7f7fa;
}

#m_menu .mid ul li {
    line-height: 48px;
    position: relative;
}

#m_menu .mid ul li:after {
    content: '';
    background: url(../images/main/mob/arr-1-right.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
}

#m_menu .mid h3 {
    padding: 0 40px;
    line-height: 40px;
    background-size: 24px;
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #838384;
}

#m_menu .mid {
    border-bottom: 1px solid #dcdfe4;
    padding-top: 40px;
}
#m_menu .mid .menu_card h3 {
    background-image: url(../images/main/mob/ico-visual-card-serch.svg);
}
#m_menu .mid .menu_set h3 {
    background-image: url(../images/main/mob/ico-visual-paymentm.svg);
}
#m_menu .mid .menu_fin h3 {
    background-image: url(../images/main/mob/ico-visual-money.svg);
}
#m_menu .mid .menu_auto h3 {
    background-image: url(../images/main/mob/ico-visual-calendar-money.svg);
}
#m_menu .mid .menu_con h3 {
    background-image: url(../images/main/mob/ico-visual-estimate.svg);
}
#m_menu .mid .menu_fore h3 {
    background-image: url(../images/main/mob/ico-visual-overseas.svg);
}
#m_menu .mid .menu_gift h3 {
    background-image: url(../images/main/mob/ico-visual-benefits.svg);
}
#m_menu .mid .menu_store h3 {
    background-image: url(../images/main/mob/ico-visual-star-event.svg);
}
#m_menu .mid .menu_help h3 {
    background-image: url(../images/main/mob/ico-visual-customer.svg);
}



/* 모바일 메뉴페이지 클론 */
#m_menu .bgcolor {
    background: #f7f7fa;
    margin-bottom: 8px;
    border-bottom: 1px solid #dcdfe4;
}

#m_menu .app {
    margin-top: 8px;
    padding: 40px 16px 0;
}

#m_menu h3 {
    font-size: 20px;
    color: #000;
}

#m_menu .app ul {
    text-align: center;
    padding: 0;
    font-size: 14px;
    margin-top: 24px;
}

#m_menu .app ul li {
    float: left;
    width: calc(100% / 4);
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}
#m_menu .app ul li:nth-child(1) {display: none;}
#m_menu .app ul li:nth-child(2) {background: url(../images/main/mob/logo-app-kbpay-48.png)no-repeat top center /48px ;}
#m_menu .app ul li:nth-child(3) {background: url(../images/main/mob/logo-app-livvmate-48.png)no-repeat top center /48px ;}
#m_menu .app ul li:nth-child(4) {background: url(../images/main/mob/logo-app-kbmall-48.png)no-repeat top center /48px ;}
#m_menu .app ul li:nth-child(5) {background: url(../images/main/mob/logo-app-kbbank.png)no-repeat top center /48px ;}
#m_menu .app ul li:nth-child(6) {background: url(../images/main/mob/app_liivnext_32.png)no-repeat top center /48px ;}
#m_menu .app ul li:nth-child(7) {background: url(../images/main/mob/logo-app-kbdirect-48.png)no-repeat top center /48px ;}

#m_menu .m_sns {
    margin-top: 52px;
}

#m_menu .m_sns ul {
    margin-top: 20px;
}

#m_menu .m_sns ul li {
    float: left;
    height: 80px;
    background: #eff;
    width: 25%;
    background-size: 48px;
}
#m_menu .m_sns ul li:nth-child(1) {background: url(../images/main/mob/logo-yt_black.png)no-repeat center /48px; }
#m_menu .m_sns ul li:nth-child(2) {background: url(../images/main/mob/logo-blog_black.png)no-repeat center /48px;}
#m_menu .m_sns ul li:nth-child(3) {background: url(../images/main/mob/logo-insta_black.png)no-repeat center /48px;}
#m_menu .m_sns ul li:nth-child(4) {background: url(../images/main/mob/logo-fb_black.png)no-repeat center /48px;}

#m_menu .m_sns ul li a {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* footer */
footer {
    border-top: 1px solid #ddd;
    margin-top: 130px;
}

footer .wrap.pc {
    border-top: 1px solid #ddd;
    padding: 20px 0 60px;
    height: 230px;
}

footer .lnb {
    color: #444;
    font-weight: 300;
    font-size: 13px;
}

footer .lnb li {
    float: left;
}

footer .lnb li:after {
    content: '|';
    padding: 0 20px;
    color: #c2c2c2;
}

footer .lnb li:last-child:after {
    display: none;
}

footer .pc address {
    margin-top: 30px;
    color: #7a7a7a;
    font-weight: 300;
}

footer .pc address > p {
    margin-bottom: 16px;
    font-size: 13px;
}

footer .pc address > span {
    font-size: 9px;
    color: #666;
}

footer .award {
    position: absolute;
    bottom: 60px;
    left: 0;
}

footer .award img {
    padding-right: 20px;
}

footer .f_sns {
    position: absolute;
    bottom: 60px;
    right: 220px;
}

footer .f_sns img {
    width: 24px;
    margin-right: 14px;
}

footer .f_site {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 200px;
}

footer .f_site ul {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: #fff;
    border: 1px solid #ddd;
    line-height: 28px;
    width: 196px;
    padding: 10px 8px 10px;
    font-weight: 300;
    display: none;
}

footer .f_site ul li {}

footer .f_site p {
    width: 196px;
    line-height: 34px;
    border: 1px solid #eee;
    padding: 0 24px 0 16px;
    color: #666;
    font-size: 14px;
}

footer .f_site p i {
    position: absolute;
    line-height: 34px;
    top: 0;
    right: 0;
    font-size: 16px;
    width: 40px;
    text-align: center;
}


/* modal window */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 10;
    transition: 1s;
}

.curtain {
    transition: 1s;
}

/* blank */
.blank {
    height: 144px;
}

/* 메인비주얼 슬라이드 */
#visual {
    margin: 40px 0 80px;
    color: #21201d;
}

#visual .visual_slide {
    position: relative;
    width: 672px;
    height: 260px;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}

#visual .visual_slide .vi_cont {
    width: 4200px;
    position: relative;
}

#visual .visual_slide .vi_cont li {
    width: 700px;
    height: 260px;
    float: left;
    padding: 34px 82px 0;
    position: relative;
}

#visual .visual_slide .vi_cont li figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#visual .visual_slide .vi_cont li figure img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

#visual .visual_slide ul .rock {
    background: url(../images/main/pc-pentaport-bg.png)no-repeat left top;
}

/* 스크립트 미작동시 기본위치값*/
#visual .visual_slide ul .rock figure img:nth-of-type(1) { top: 118px;left: 376px; opacity: 0.1; }
#visual .visual_slide ul .rock figure img:nth-of-type(2) { top: 32px; left: 376px; opacity: 0.1; }
#visual .visual_slide ul .rock figure img:nth-of-type(3) { top: 22px; left: 496px; opacity: 0.1; }

#visual .visual_slide ul .airport { background:url(../images/main/pc-expresstrain-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .airport figure img:nth-of-type(1) { top: 48px; left: 376px; }
#visual .visual_slide ul .airport figure img:nth-of-type(2) { top: 80px; left: 386px; }
#visual .visual_slide ul .airport figure img:nth-of-type(3) { top: 167px;left:500px; }

#visual .visual_slide ul .trip { background:url(../images/main/pc-travel-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .trip figure img:nth-of-type(1) { top: 38px; left: 358px; z-index: 1;}
#visual .visual_slide ul .trip figure img:nth-of-type(2) { top: 180px;left: 450px; }
#visual .visual_slide ul .trip figure img:nth-of-type(3) { top: 44px; left: 420px; }

#visual .visual_slide ul .ptree { background:url(../images/main/pc-starshop-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .ptree figure img:nth-of-type(1) { top: 150px; left: 534px; z-index: 2; }
#visual .visual_slide ul .ptree figure img:nth-of-type(2) { top: 42px;  left: 350px; z-index: 1; }
#visual .visual_slide ul .ptree figure img:nth-of-type(3) { top: 50px;  left: 330px; }

#visual .visual_slide ul .lego { background:url(../images/main/pc-legolandCard-bg.png)no-repeat left top  ;}
#visual .visual_slide ul .lego figure img:nth-of-type(1) { top: 190px; left: 360px; width: 120px; z-index: 1;}
#visual .visual_slide ul .lego figure img:nth-of-type(2) { top: 172px; left: 526px; width: 68px; z-index: 1;}
#visual .visual_slide ul .lego figure img:nth-of-type(3) { top: 36px;  left: 382px; }

/* 비주얼 슬라이드 버튼 */
#visual .visual_slide .vi_cont li span {
    font-size: 16px;
}

#visual .visual_slide .vi_cont li p {
    font-size: 26px;
    padding-top: 24px;
    font-weight: 500;
}

#visual .visual_slide > .prev {
    position: absolute;
    top: 120px;
    left: 30px;
}

#visual .visual_slide > .next {
    position: absolute;
    top: 120px;
    right: 30px
}

#visual .visual_slide > .stop {
    position: absolute;
    bottom: 20px;
    left: 356px;
}

#visual .visual_slide > .play {
    position: absolute;
    bottom: 20px;
    left: 356px;
    display: none;
}

#visual .visual_slide > span {
    position: absolute;
    bottom: 16px;
    left: 300px;
    background: rgba(0, 0, 0, 0.3);
    width: 44px;
    line-height: 24px;
    border-radius: 24px;
    text-align: center;
    font-size: 14px;
}

/* 로그인영역 */
#visual .log ul {
    height: 22px;
    padding-top: 4px;
}

#visual .log ul li {
    float: left;
    margin-right: 34px;
    font-size: 14px;
    position: relative;
}

#visual .log ul li.under {
    font-weight: 600;
}

#visual .log ul li:hover {
    font-weight: 600;
}

#visual .log ul li.under:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -4px;
    left: 0;
}

#visual .log ul li:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -4px;
    left: 0;
}

#visual .log {
    float: right;
    width: 340px;
    height: 260px;
}

#visual .log > div {
    height: 216px;
    display: none;
}

#visual .log > div.pin {
    display: block;
}

#visual .log > div.pin p {
    height: 170px;
    text-align: center;
    font-size: 13px;
    padding-top: 40px;
    line-height: 1.8;
    font-weight: 300;
}

#visual .log > div.pay .icon {
    height: 150px;
    background: url(../images/main/ico-appcard-48.png)no-repeat center center;
}

#visual .log > div.id .form {
    height: 150px;
    padding-top: 20px;
}

#visual .log > div.id .form input {
    height: 40px;
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
}

#visual .log > div.id .form input::placeholder {
    font-size: 16px;
    color: #c2c2c2;
    font-weight: 500;
}

#visual .log > div.id .form input:focus {
    border-bottom: 1px solid #333;
}

#visual .log > div.id .form .form_id input {
    width: 338px;
}

#visual .log > div.id .form .form_pw {
    margin-top: 20px;
}

#visual .log > div.id .form .form_pw input {
    width: 280px;
}

#visual .log > div.cer .icon {
    height: 150px;
    background: url(../images/main/ico-browser-48.png)no-repeat center center;
}

#visual .log > div > p > a {
    font-size: 12px;
    line-height: 44px;
    font-weight: 300;
}

#visual .log > div > a.btn_y {
    display: block;
    background: #fc0;
    line-height: 43px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}


#card {
    background: #f4f6fa;
    padding: 40px 0;
}

#card .icon_bar ul {
    height: 68px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 300;
}

#card .icon_bar ul li {
    background: #fff;
    float: left;
    width: 135px;
    padding-top: 52px;
}

#card .icon_bar ul li:nth-child(1) {
    background: url(../images/main/ico-write.png)no-repeat center top;
}

#card .icon_bar ul li:nth-child(2) {
    background: url(../images/main/ico-eshopping.png)no-repeat center top;
}

#card .icon_bar ul li:nth-child(3) {
    background: url(../images/main/ico-checkpaper.png)no-repeat center top;
}

#card .icon_bar ul li:nth-child(4) {
    background: url(../images/main/ico-coin-48.png)no-repeat center top;
}

#card .icon_bar ul li:nth-child(5) {
    background: url(../images/main/ico-call-48.png)no-repeat center top;
}

#card .icon_bar ul li:nth-child(6) {
    background: url(../images/main/ico-cardregister-48.png)no-repeat center top;
}

#card .icon_bar ul li:nth-child(7) {
    background: url(../images/main/ico-point-48.png)no-repeat center top;
}

#card .icon_bar ul li:nth-child(8) {
    background: url(../images/main/ico-certificate-48.png)no-repeat center top;
}

#card .main_card {
    border: 1px solid #d8dade;
    box-shadow: 1px 2px 5px #e2e5e8;
    margin-top: 44px;
    height: 394px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

#card .main_card > ul {
    padding-left: 20px;
}

#card .main_card > ul li {
    float: left;
    line-height: 82px;
    margin: 0 12px;
    font-size: 16px;
}

#card .main_card > div {
    height: 312px;
}

#card .main_card > div > ul li {
    height: 312px;
    width: 350px;
    float: left;
}

#card .main_card > div > ul li figure {
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card .main_card > div > ul li figure img {
    transform: rotate(90deg);
    height: 128px;
    vertical-align: center;
}

#card .main_card > div > ul li.turn figure img {
    transform: rotate(0);
}

#card .main_card > div.premium > ul li figure img {
    transform: rotate(0);
    height: 128px;
    vertical-align: center;
}

#card .main_card > div > ul li p {
    font-size: 16px;
    margin: 20px 0;
}

#card .main_card > div > ul li span {
    color: #333;
    font-weight: 300;
}


#card .loan:after {
    content: "";
    clear: both;
    display: block;
}

#card .loan dl {
    width: 344px;
    height: 176px;
    margin-right: 24px;
    float: left;
    padding: 24px 0 0 32px;
    background: #fff;
    margin-top: 24px;
    border-radius: 10px;
    border: 1px solid #d8dade;
    box-shadow: 1px 2px 5px #e2e5e8
}

#card .loan dl dt {
    font-size: 16px;
    color: #000;
}

#card .loan dl dd {
    margin-top: 20px;
    font-size: 13px;
    color: #666;
    line-height: 1.6;
}

#card .loan dl dd > a {
    font-size: 12px;
}

#card .loan dl:nth-child(1) {
    background: #fff url(../images/main/ico-eshopping.png)no-repeat 272px 104px;
}

#card .loan dl:nth-child(2) {
    background: #fff url(../images/main/ico-card-1.png)no-repeat 272px 104px;
}

#card .loan > ul {
    width: 344px;
    height: 176px;
    float: right;
}

#card .loan > ul li {
    float: left;
    width: 160px;
    height: 80px;
    margin: 24px 24px 0 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #e2e5e8;
    padding-left: 24px;
    display: flex;
    align-items: center;
    border: 1px solid #d8dade;

}
#card .loan > ul li:nth-child(1) {
    background: #fff url(../images/main/ico-personalalarm.png)no-repeat 104px center;
}

#card .loan > ul li:nth-child(2) {
    background: #fff url(../images/main/ico-car.png)no-repeat 104px center;
}

#card .loan > ul li:nth-child(3) {
    background: #fff url(../images/main/ico-repaymentloan.png)no-repeat 104px center;
}

#card .loan > ul li:nth-child(4) {
    background: #fff url(../images/main/ico-delivery.png)no-repeat 104px center;
}

#card .loan > ul li:nth-child(2n) {
    margin-right: 0;
}

#benefit {}

#benefit .shop {
    background: #f9fafc;
    line-height: 63px;
    text-align: center;
    border-radius: 30px;
    margin: 40px 0;
}

#benefit .shop img {
    vertical-align: middle;
}

#benefit .shop:after {
    content: "";
    clear: both;
    display: block;
}

#benefit .shop span {
    width: 360px;
    float: left;
    position: relative;
}

#benefit .shop span:after {
    content: "|";
    position: absolute;
    right: 0;
}

#benefit .shop span:last-child:after {
    display: none;
}

#benefit .wrap > ul {
    float: left;
}

#benefit .wrap > ul li {
    float: left;
    width: 252px;
    height: 152px;
    margin-right: 24px;
    position: relative;
    border-radius: 20px;
    padding: 24px;
}

#benefit .wrap > ul li:after {
    content: "";
    width: 120px;
    height: 100%;
    position: absolute;
    right: 8px;
    top: 0;
}

#benefit .wrap > ul li:nth-child(1) {
    background-image: linear-gradient(119deg, #dbecff, #ebf6ff 100%);
}

#benefit .wrap > ul li:nth-child(1):after {
    background: url(../images/main/img-main-brn-02.png)no-repeat left center;
}

#benefit .wrap > ul li:nth-child(2):after {
    background: url(../images/main/img-main-brn-03.png)no-repeat left center;
}

#benefit .wrap > ul li:nth-child(2) {
    background-image: linear-gradient(119deg, #eaebff, #f1f2ff 100%);
}

#benefit .wrap > ul li:nth-child(3):after {
    background: url(../images/main/img-main-brn-01.png)no-repeat left center;
}

#benefit .wrap > ul li:nth-child(3) {
    background-image: linear-gradient(119deg, #ffdf74, #ffebb2 100%);
}

#benefit .wrap > ul li p {
    font-size: 18px;
    padding-bottom: 24px;
    font-weight: 400;
    color: #1e1f21;
}

#benefit .wrap > ul li span {
    font-size: 13px;
    line-height: 1.6;
    color: #1e1f21;
}
#benefit .easy {
    float: right;
    width: 252px;
    height: 152px;
    background: #f9fafc;
    border-radius: 20px;
    padding: 32px 24px;
}

#benefit .easy span {
    display: block;
    line-height: 24px;
    padding-left: 36px;
}

#benefit .easy span:nth-child(1) {
    background: url(../images/main/ico-apt-48.png)no-repeat left center;
}

#benefit .easy span:nth-child(2) {
    background: url(../images/main/ico-1-airline2.png)no-repeat left center;
    margin: 12px 0;
}

#benefit .easy span:nth-child(3) {
    background: url(../images/main/ico-1-alarm.png)no-repeat left center;
}

#notice h3 {
    font-size: 18px;
}

#notice .news {
    width: 50%;
    float: left;
    margin-top: 44px;
}

#notice .news table {
    margin-top: 38px;
}

#notice .news td:first-child {
    padding-right: 20px;
    font-size: 12px;
}

#notice .news td {
    font-size: 14px;
    padding-bottom: 20px;
}

#notice .info {
    width: 50%;
    float: right;
    margin-top: 44px;
}

#notice .info ul li {
    float: left;
    font-size: 16px;
    margin-right: 24px;
    position: relative;
}

#notice .info ul li.under {
    font-weight: 500;
}

#notice .info ul li:hover {
    font-weight: 500;
}

#notice .info ul li.under:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -10px;
    left: 0;
}

#notice .info ul li:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -10px;
    left: 0;
}

#notice .info dl {
    height: 106px;
    border-radius: 10px;
    display: none;
    padding: 20px 32px;
    color: #000;
    margin-top: 30px;
}

#notice .info dl:nth-of-type(1) {
    background: #f9fafc url(../images/main/ico-consumer-48.png)no-repeat 460px center;
    display: block;
}

#notice .info dl:nth-of-type(2) {
    background: #f9fafc url(../images/main/ico-faq-48.png)no-repeat 460px center;
}

#notice .info dl:nth-of-type(3) {
    background: #f9fafc url(../images/main/ico-foreign-48.png)no-repeat 460px center;
}

#notice .info dl dt {
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}

#notice .info dl dd {
    font-size: 14px;
}

#notice .call table {
    width: 828px;
    float: left;
    border-right: 1px solid #ebebeb;
}

#notice .call h3 {
    line-height: 80px;
}

#notice .call td {
    line-height: 1.8;
}

#notice .call td:nth-child(2n-1):before {
    content: "- "
}

#notice .call span {
    padding-left: 40px;
}
